.frame{
    width: 800px;
    height: 985px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
#top-img{
    width: 800px;
    height: 60px;
    background-color: #f6f6f6;
}
#top-left{
    width: 100px;
    height: 60px;
    float: left;
}
#top-right{
    width: 230px;
    height: 30px;
    float: right;
    margin-top: 15px;
}
#top{
    width: 800px;
    height: 40px;
    background-color: AntiqueWhite;
    float: left;
}
#top a{
    text-decoration: none;
    color: black;
}
#top ul li{
    width: 80px;
    float:left;
	list-style-type: none;
	line-height: 10px;
	text-align: center;
    margin-left: 50px;
}
#under-img{
    width: 800px;
    height: 375px;
    float: left;
}
#bottom{
    width: 800px;
    height: 600px;
}
.bottom-left{
    width: 300px;
    height: 200px;
    float: left;
    margin-top: 20px;
}
.bottom-right{
    width: 480px;
    height: 200px;
    float: right;
    margin-top: 20px;
}
#bottom-bottom{
    width: 800px;
    height: 60px;
    background-color: AntiqueWhite;
    float: left;
    line-height: 50px;
    text-align: center;
    margin-top: 10px;
}